* {
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}



input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}